
html {
    box-sizing:border-box;
}

body {
    margin:0;
    width:100vw;
    height:100vh;  
}

.form-container {    
    margin: 0;
}

.search-container {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.view-account-container {
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin: 20px;
}

.txb {
    margin:10px;

}
